[Desktop Entry]
Type=Application
Version=1.0
Name=powwow
GenericName=powwow
Exec=powwow
Terminal=true
Categories=Telnet;Mud;ConsoleOnly;
Keywords=telnet;mud
